*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
}
body {
    font-family: 'Krub', sans-serif;
    font-size: 1em;
    word-spacing: 1px;
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.25em;
    position:sticky;
    width: 100%;
    background-color: #48484a;
    text-decoration-color: white;
}
.logo {
    width: 7rem;
    background-size: cover;
    display: block;
    margin: 1rem 1rem;
}
.data-container{
    padding: 0 1.5rem 0.5rem 0.625rem;
}
.temperature {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    min-width: fit-content;
    font-size: 7em;
    color: #48484a;
}
.unit {

    font-size: 0.5em;
}
h1 {
    color: #f2f2f2;
    margin-bottom: 0.35em;
}
.city {
    color: #eb6e4c;
    margin: 0.15em 0 0.35em 0;
    text-transform: capitalize;
    font-size: 3em;
}
#cityImage {
    margin-top: 1em;
}
.weather {
    font-size: 2em;
    text-transform: capitalize;
    margin-top: 0.5em;
}
#geo {
    margin-bottom: 1em;
}
p{
    padding: 0 0.65em 0.65em 0;
}
#zipcode {
    border: 1px solid #aeadad;
    border-radius: 0.35rem;
    padding: 0.5em;
    margin: 1em 0;
}
.button{
    border: 1px solid #aeadad;
    border-radius: 0.35rem;
    padding: 0.5em;
    margin: 1em 0;
    text-transform: capitalize;
}
.error {
    font-size: 1em;
    color: red;
    margin-bottom: 1em;
}
a {
    cursor: pointer;
    color: black;
}
a:hover {
    color: #eb6e4c;
}
.footer-credit{
    margin-top: 2em;
    background-color: #f5f5f5;
    text-align: center;
    padding-bottom: 0.2em;
}
.details {
    display: flex;
    justify-content: center;
}
#showDetails {
    display: block;
    margin: 0 auto 0.5em;
    background-color: #fff;
    padding: 0.5rem;
    color: #eb6e4c;
    border: none;
    text-transform: capitalize;
    text-align: center;
    width: fit-content;
}


@media screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }
    .logo {
        width: 5rem;
        margin: 1em 0 0 0;
    }
    .heading{
        flex-direction: column;
        align-items: center;
        min-height: max-content;
        display: flex;
    }
}